#logo {
    width: 100px;
    position: absolute;
    right: 20px;
    top: 12px
}


.author {
    margin-top: 4px;
    color: gray;
    text-align: right;
}

.table-content {
    margin-top: 8px;
    font-size: 32px;
    line-height: 38px;
    color: #b4b4b4;
    font-weight: bold;
}

.table-content-selected {
    color: #525252;
}
